<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Laura & Chad</title>
  <meta name="description" content="Laura & Chad's Wedding">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="~/Content/app.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Great+Vibes|Cormorant+Garamond:500i" rel="stylesheet">
  <script src="~/Content/app.js"></script>
</head>
<body>
@RenderBody()
</body>
</html>
