<section id="getting-there">
  <video preload="auto" autoplay loop id="getting-there-video">
    <source src="/content/images/video.mp4">
  </video>
  <div class="getting-there-content">
    <div class="row">
      <div class="large-8 large-push-2 columns">
        <h4 class="section-header">Accommodations</h4>
        <a href="http://freehandhotels.com/chicago/" title="Freehand Chicago" target="_blank">Freehand Chicago</a>
        <p>
          19 East Ohio Street, Chicago IL 60611<br />
          866.925.4159
        </p>
        <br />
        <br />
        <p>Other</p>
        <p>Chicago is a big city with lots of different options for accommodations. If you're looking for something a little different or more budget-friendly, you might consider checking the following resources:</p>
        <a href="http://airbnb.com" title="AirBnB" target="_blank">AirBnB</a>
        <br />
        <a href="http://hotels.com" title="Hotels.com" target="_blank">Hotels.com</a>
        <br />
        <a href="http://expedia" title="Expedia" target="_blank">Expedia</a>
      </div>
    </div>
  </div>
</section>