<nav class="nav">
  <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
    <i class="fa fa-bars" data-toggle></i>
  </div>
  <div class="top-bar" id="menu">
    <div class="menu-centered">
      <ul class="menu" data-dropdown-menu>
        <li><a data-scroll href="#home">HOME</a></li>
        @*<li><a data-scroll href="#our-story">OUR STORY</a></li>*@
        <li><a data-scroll href="#the-wedding">THE WEDDING</a></li>
        <li><a data-scroll href="#getting-there">ACCOMIDATIONS</a></li>
        <li><a data-scroll href="#registry">REGISTRY</a></li>
        <li><a data-scroll href="#rsvp">RSVP</a></li>
      </ul>
    </div>
  </div>
</nav>