<section id="our-story">
  <video preload="auto" playsinline autoplay muted loop id="our-story-video">
    <source src="/content/images/video.mp4">
  </video>
  <div class="our-story-content">
    <div class="row">
      <div class="large-8 large-push-2 columns">
        <h4 class="section-header">Our Story</h4>
      </div>
    </div>
  </div>
</section>