<section id="registry" data-parallax="scroll" data-image-src="/content/images/marble.jpg">
  <section class="registry-content">
    <h4 class="section-header">Registry</h4>
    <div class="row">
      <div class="large-8 large-push-2 columns">
        <p>Coming Soon.</p>
      </div>
    </div>
    <a class="button">REGISTRY</a>
  </section>
</section>