<section id="rsvp">
  <div class="row">
    <div class="large-8 large-push-2 columns">
      <h4 class="section-header">RSVP</h4>
      <div class="row">
        <div class="large-6 columns">
          <label>
            * First Name
            <input type="text">
          </label>
        </div>
        <div class="large-6 columns">
          <label>
            * Last Name
            <input type="text">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>
            Guest First Name
            <input type="text">
          </label>
        </div>
        <div class="large-6 columns">
          <label>
            Guest Last Name
            <input type="text">
          </label>
        </div>
      </div>
      <label>
        * Email
        <input type="text">
      </label>
      <label>
        Comments?
        <textarea></textarea>
      </label>
    </div>
  </div>
</section>