@import "_settings";
@import "../bower_components/foundation-sites/scss/foundation";

#rsvp {
    @extend .font-primary;
    padding: 4rem 0 2rem;
    background: $primary-color;
    text-align: center;
    color: $white;

    label {
        text-align: left;
        color: $white;
    }

    textarea {
        height: 100px;
        margin: 0 0 3rem;
    }

    input[type=submit] {
        @extend .font-secondary;
        background-color: $primary-color;
        color: $white;
        border: 1px solid $white;

        &:hover {
            background-color: $white;
            color: $primary-color;
            transition: all ease-out 0.25s;
        }
    }

    .form-error {
        font-size: 16px;
        text-align: left;
    }

    .validation-summary-errors {
        ul {
            list-style: none;
            margin: 0 0 4rem;

            li {
                font-weight: 700;
                font-size: 16px;
                color: $alert-color;
            }
        }
    }

    h5 {
        margin: 0 0 4rem;
        color: $success-color;
        font-size: 16px;
        font-weight: 700;
    }

    @include breakpoint(medium up) {
        padding: 8rem 0 6rem;
    }
}
